{% set bool = module.boolean_field %}
{% set blog_one_posts = blog_recent_posts(module.blog_field, limit=3) %}
{% set all_posts = (blog_one_posts ) | sort(true, false, 'publish_date')  %}
<div class="flex">
{% if bool %}
	{% for post in all_posts %}
	<div class="col-3 content-card with-image">
		<div class="content-card-image">
			<img src="https://www.iga.com/hubfs/Newsletters/2019/Wk14/00-IGADigitalMarketingPlatform-100-533w.jpg"/>
		</div>
		<div class="content-card-text">
			<h2><a href="{{post.absolute_url}}">{{ post.name }}</a></h2>
			<div id="hubspot-author_data" class="hubspot-editable" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
					Posted by
					{%if post.blog_post_author %}
							<a class="author-link" href=" {{ post.parent_blog.absolute_url }}/author/{{ post.blog_post_author.slug }}">{{ post.blog_post_author.display_name }}</a> on {{ post.publish_date_localized }}
					{% endif %}
			</div>
			{% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}
		</div>
	</div>
	{% endfor %}
{% endif %}
</div>