<!--
  templateType: global_partial
  label: Website header
-->
{% macro append(key, items) %}
  {%- set arr = '{"' + key + '":' + [items] + '}' -%}
{% endmacro %}
{% macro update(temp, obj, counter) %}
  {% do obj.update( temp|fromjson ) %}
	{% do obj.update({length: counter }) %}
{% endmacro %}
{% macro extend(defaults, options, resolve) %}
  {% set extended = {} %}
	{% for prop in defaults %}
		{% if defaults[prop] %}
			{{ update('{"' + prop + '":"' + defaults[prop] + '"}', extended, loop.index)}}
		{% endif %}
	{% endfor %}
	{% for key, prop in options.items() %}
		{% if options[key] %}
			{{ update('{"' + key + '":"' + options[key] + '"}', extended, loop.index)}}
		{% endif %}
	{% endfor %}
  {% do extended.update(options) %}
	{% do defaults.update(extended) %}
{% endmacro %}
{#
  Table of Contents
	-----------------------
	  01. Global Variables
		02. Definitions
		03. Functions
		04. Settings
		  A. Contacts
		  B. Routes
  =======================
#}
{#  01. Global Variables  #}
{% set APP = {} %}
{% set CONTACT = {} %}
{% set COMPANY = {} %}
{% set HTTPS = {} %}
{#  02. Definitions #}
{% set contact_default_fields = {"firstname":"John","lastname":"Doe","email":"example@domin.com","gender":"male","fullname":"","profile_image":"https://www.iga.com/hubfs/_Icons/svg/red-close-icon.svg"} %}
{% set page = {} %}
{#  04. Settings  #}
	{# A. Contacts #}
	{% if contact %}
		{{ extend(CONTACT, crm_object("contact", contact.hs_object_id,"firstname,lastname,email,gender,profile_image, jobtitle")) }}
		{% do CONTACT.update({hasOwnProperty: true}) %} {# check if property has children #}
		{% do CONTACT.update({fullname: contact.firstname + " " + contact.lastname}) %}
		{% do CONTACT.update({completion: (100 * CONTACT.length / contact_default_fields.items()|length)|float }) %}
	{% else %}
		{{ extend(contact_default_fields, CONTACT) }}
	{% endif %}
	{% set is_contact = CONTACT.hasOwnProperty == true ? "contact" : "no-contact" %}
	{% set queryparam = "" %}
	{% do HTTPS.update({ "routes": hubdb_table_rows(2655950, queryparam) }) %}
	{% do HTTPS.update({ "route_level": dynamic_page_route_level }) %}
{% do APP.update({"https": HTTPS}) %}
{% do APP.update({"company": COMPANY}) %}
{% do APP.update({"contact": CONTACT}) %}
  {# B. Routes #}
{% do APP.update({"dynamic_page_route_level": dynamic_page_route_level}) %}
{% do APP.update({"dynamic_page_hubdb": dynamic_page_route_level}) %}
{% do APP.update({"root": "/corporate/myhub" }) %}
{% do APP.update({"is_dynamic_page": dynamic_page_route_level >= 0 ? true : false }) %}