.table-cell {
  width: 33.3333%;
  display: table-cell;
  text-align: center;
}
.table {
  display: table;
  width: 100%;
  margin: 0 auto;
}
h1.number {
  text-align: center;
}

@media screen and (max-width:640px){
  .table-cell {
    width: 100%;
    display: block;
    text-align: center;
  }
}