<div class="media-player video {{ widget.custom_class }}{% if not widget.show_controls_on_poster %} controls-off-poster{% endif %}{% if widget.keep_controls_on_screen_while_playing %} controls-on-play{% endif %}" style="background-color:{{module.background_color.color}};overflow:hidden;">
    {% if widget.video_url is string_containing 'youtube.com' %}
        <div data-type="youtube" data-video-id="{{ widget.video_url|trim }}"></div>
    {% elif widget.video_url is string_containing 'vimeo.com' %}
        <div data-type="vimeo" data-video-id="{{ widget.video_url|trim }}"></div>
    {% else %}
        <video{% if widget.video_poster.src %} poster="{{ widget.video_poster.src }}"{% endif %} controls style="display:block;" class="plyr--video">
            <source src="{{ widget.video_url|trim }}" type="video/mp4">
        </video>
    {% endif %}
    
</div>

<div class="listing-filter" data-filter="{{ widget.video_category|replace(' ', '')|replace(',', ' ') }}">{{ widget.video_category }}</div>