{% set columnArr = ['auto','100%','50%','33.3333%','20%'] %}
{% set columnArray = ['','col-1','col-2','col-3','col-4'] %}
{#dhd #}
{% set table = module.hubdbtable_field %}
{% set query = module.hubdb_query %}
{# #}
{% set rows = hubdb_table_rows(table, query) %}
{% set rowsCount = rows|count %}
{# #}
{% set columns = module.field_group %}
{% set columnId = hubdb_table(table).columns %}
{# #}
{%if module.output == true %}<pre>{{rows|escape}}</pre>{%endif%}
{% for row in rows %}
    <!-- {{ row.amount_off }} -->
    {# conditional variables #}
    {% set display = "" %}
    {% set row_content = row.content %}
    <!-- {{ row.amount_off|int }} -->
    {% if row.display != true %}{% set display = "visibility-hide" %}{% endif %}
    {# end conditional variables #}
    {% if loop.index0 % module.columns == 0%}
    <div id="row-{{ loop.index }}" class="table">
    {% endif %}
    <div class="table-cell content-card with-image {{columnArray[module.columns]}} {% if loop.index0 > (rows|count - module.hide) %}visibility-hide{%endif%} no-animation">
      <div class="content-card-image">
        <img src="{{ row.product_image_url.url }}" alt="{{row.product_image_alt}}" />
      </div>
      <div class="content-card-text" style="border-top: 1px solid #EEEEEE;text-align:left;">
        <h3 style="margin-bottom:0;color: #ed1c24;float: left; width:50%;">
          {% if row.amount_off|int >= 1 %}
            ${{ row.amount_off }}
          {%else%}
            {{ row.amount_off|regex_replace("^0[.]", "")  }}&cent;
          {%endif%}
          OFF
        </h3>
        <p style="width: 50%;float: left;text-align: right;height:37px;"><!--<small style="color: #ed1c24;" class="offer-tag">{{row.page}}</small>--></p>
        <p>{{ row.sale_story }} {{ row.product_descriptions }}</p>
      </div>
    </div>
    {% if loop.index0 % module.columns == (module.columns - 1) or loop.index == loop.length %}
    </div>
    {% endif %}
{% endfor %}