{# Stefen Phelps from BlueLeadz: https://hubspotdev.slack.com/files/U7V9DQ31P/FAHSM5K97/basic_hubdb_prev_next_pagination.html #}
<!-- Pagination Logic -->
{% set per_page = 2 %}
{% set page_number = 0 %}
{% set total_pages = (table_rows|count / per_page)|round(0, 'ceil')|int %}
{% set offset_posts = request.query_dict.page * per_page %}
{% set locationLat = request.query_dict.locationLat %}
{% if locationLat %}
{% set queryparam = "&limit=" ~ per_page ~ "&offset=" ~ offset_posts|urlencode ~ "&orderBy=geo_distance(latitude_and_longitude," ~ request.query_dict.locationLat ~ "," ~ request.query_dict.locationLng ~ ")" %}
{% set latlng = "&locationLat="~request.query_dict.locationLat ~"&locationLng="~request.query_dict.locationLng %}
{% else %}
{% set queryparam = "&limit=" ~ per_page ~ "&offset=" ~ offset_posts|urlencode %}
{% endif %}
{% set table = hubdb_table_rows(module.hubdb_table_section, queryparam) %}

<div id="map_canvas1" class="wsol-map"></div>
<div class="md-stack">
  <div class="row-fluid-wrapper centered">
    <div class="row-fluid listing-container no-masonry">
			<div class="span12 centered">
			  <div class="one-field-form form-button-theme">
          <form id="storeLocator" class="hs-form stacked hs-custom-form hs-form-private w600 centered" data-portal-id="3870075" style="margin-top: -25px;">
            <input id="desiredZipCode" class="hs-input" type="text" placeholder="City, State, or Zip" />
            <input class="hs-button primary large" type="submit" value="Search" />
          </form>
        </div>
			</div>
      {% if request.query_dict.zipcode %}
			<div class="row-fluid-wrapper">
				<div class="row-fluid">
					<div class="span12 pt40">
						<h2 class="result-heading">Showing results near {{request.query_dict.zipcode}}</h2>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="content-section">
				<div class="centered  list-items">
				{% for row in table %}
        <div class="row-fluid-wrapper list-item span6">
          <div class="row-fluid">
            <div class="span12 pb20 pt20">
              <div class="store-card grid">
                <div class="store-image-wrapper">
                  {% if row.store_image %}
                  <img class="store-image" src="{{row.store_image.url}}" alt="{{row.store_name}}"/>
                  {% endif %}
                </div>
								<div class="equal-height">
                <div class="row-fluid-wrapper ">
                  <div style="height: 253px;" class="row-fluid store-location p20 " data-address="{{row.store_street_address_1}}, {{row.store_city}}, {{row.store_state}}, {{row.store_zip}} " data-lat="{{row.latitude_and_longitude.lat}}" data-long="{{row.latitude_and_longitude.lon}}">
                    <div class="span8 p20">
                      <h5>{% if row.store_website %}<a class="store-website-link" href="{{row.store_website}}" target="_blank">{% endif %}{{row.store_name}}{% if row.store_website %} <i class="fa fa-external-link" aria-hidden="true"></i></a>{% endif %}</h5>
                      <address class="store-address clearfix">
                        <p>{{row.store_street_address_1}}</p>
                        <p>{{row.store_city}}, {{row.store_state}} {{row.store_zip}}</p>
                      </address>
                      <p class="store-phone-fax">
                        <strong><a href="tel:{{row.main_phone|replace('(','')|replace(')','')|replace('-','')|replace(' ','')}}">{{row.main_phone}}</a> - Main</strong>
                      </p>
											<p class="store-links">                        
                        <a class="button empty no-animation no-shadow" href="/sl/{{row.store_info_page}}">Store Info</a><!-- {{row.store_info_page}} -->
												<a class="button empty no-animation no-shadow" href="//maps.google.com/maps?daddr={{row.latitude_and_longitude.lat}},{{row.latitude_and_longitude.lon}}">My Store</a>
                        <!-- <a class="button empty no-animation no-shadow" href="//maps.google.com/maps?daddr={{row.latitude_and_longitude.lat}},{{row.latitude_and_longitude.lon}}">Directions</a> -->
                      </p>
                    </div>
                    <div class="span4 store-location-directions ">
											{% if request.query_dict['locationLat'] %}
                      <p class="miles-away"><a href="//maps.google.com/maps?daddr={{row.latitude_and_longitude.lat}},{{row.latitude_and_longitude.lon}}">{{ row.latitude_and_longitude|geo_distance(request.query_dict['locationLat'], request.query_dict['locationLng'], "mi")|round(1) }} mi away</a></p>
                      {% endif %}
                      <div class="store-logo"><img src="{% if row.store_logo%}{{row.store_logo.url}}{%else%}https://cdn2.hubspot.net/hubfs/3870075/iga-logo.svg{%endif%}" alt="{{row.store_name}} Logo"/></div>
                    </div>
                  </div>
                </div>
                </div>
              </div> <!-- store card -->
            </div>
          </div>
        </div>
        {% endfor %}
					<div style="clear:both;"></div>
				</div>
			</div><!-- end content cards -->
      <div class="">
        <!-- Previous / Next Links -->
        {% if request.query_dict.page %}
        {% set page_number = request.query_dict.page|int %}
        {% endif %}
        <div class="blog-navigation mt50 mb50 tc">
          <a class="blog-navigation-prev {% if page_number < 1 %} disabled{% endif %}" href="{{ request.path }}?page={{ page_number - 1 }}{% if locationLat %}{{latlng}}{% endif %}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Prev</a>
          <a class="blog-navigation-next" href="{{ request.path }}?page={{ page_number + 1 }}{% if locationLat %}{{latlng}}{% endif %}">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
<div class="hidden text-uppercase" style="background:#f7f7f7;color:#999;font-size:10px;">
  <ul>
    <li style="border-bottom:1px solid #ccc">HubL Vars</li>
    <li>items per page: {{per_page}}</li>
    <li>current page num: {{page_number}}</li>
    <li>total pages: {{total_pages}}</li>
    <li>curren post offset: {{offset_posts}}</li>
    <li>query params: {{queryparam}}</li>
    <li>current lat/lng orderd by: {{latlng}}</li>
  </ul>
</div>
<div style="{% if devop == false %}display:none;{% endif %}">
  ROBTESTING -- {{request.query_dict|pprint}}
</div>