{# GLOBALS #}
{% set select = ['Market', 'Product']%}{# Join table selector #}
{% set _unique = [] %}
{# DATASETS #}
{% set rows = hubdb_table_rows(module.hubdbtable_field) %}
{% set columns = hubdb_table_column(module.hubdbtable_field,module.text_field)  %}
{# LOOPS #}
{% for row in rows %}
	{% do _unique.append(row[module.text_field][0]['name']) %}
{% endfor %}
{# automatic or manual options #}
<div class="search-criteria">
  <form id="form_id" method="get" style="margin-bottom: 20px;">
    <h2>Browse Images</h2>
		{% for type in module.category %}
    <div class="filter">
      <div class="selectImageType">
				{% if type == 'Market' %}<p>{{ type }}</p>{% endif %}
				{% if type == 'Product' %}<p>{{ type }}</p>{% endif %}
        <div class="span12 widget-span widget-type-post_filter list-type-dropdown plain-links" data-widget-type="post_filter" data-x="0" data-w="12">
					<div>
						<h3 class="filter-list-select">Categories</h3>
						<div>
							<ul class="filter-list">
								{% for tag in _unique|unique %}
								  <li><a href="#" data-item="{{tag}}">{{tag}}&nbsp;(<span class="filter-link-count" dir="ltr">{{_unique.count(tag)}}</span>)</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<input type="text" type="hidden" value="">
				</div>
			</div>
		</div>
		{% endfor %}
  </form>
	<div id="results">
		<div style="width: 50%; padding: 10px;background: red; color: white;float: left;">
			<p>
				hello
			</p>
		</div>
		<div style="width: 50%; padding: 10px;background: red; color: white;float: left;">
			<p>
				hello
			</p>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
