<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }} class="js">

<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url('../../css/main.css')) }}
  {# Include theme overrides #}
  {# {{ require_css(get_asset_url('../../css/theme-overrides.css')) }} #}
  {# {{ require_js(get_asset_url('../../js/main.js')) }} #}
  {{ standard_header_includes }}
  <!-- 		<link href="//cdn2.hubspot.net/hub/3870075/hub_generated/template_assets/29973839011/1594752469327/_id/myHub/css/sb-admin-min.min.css" rel="stylesheet" type="text/css"> -->
  <link
    href="//cdn2.hubspot.net/hub/3870075/hub_generated/template_assets/29973747169/1592097117779/_id/css/fontawesome.min.css"
    rel="stylesheet" type="text/css">
  <style>
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #555;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    main#wrapper {
      height: inherit;
    }
  </style>
</head>

<body>
  <main id="wrapper" class="{{ builtin_body_classes }} {{is_myHub.contact}}">
    {% block sidebar %}
    {% global_partial path='../partials/sidebar.html' %}
    {% endblock sidebar %}
    <div id="content-wrapper" class="d-flex flex-column">
      {% block header %}
      {% global_partial path='../partials/header.html' %}
      {% endblock header %}
      <div id="content">
        {% block neck %}
        {% endblock %}
        <div class="container-fluid">
          {% block body %}
          {% endblock body %}
        </div>
        {% block footer %}
        {% global_partial path='../partials/footer.html' %}
        {% endblock footer %}
      </div>
    </div>
  </main>
  {{ standard_footer_includes }}
  <!-- 		<script src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/30877443723/1594331618990/_id/js/jquery.min.min.js"></script> -->
  <!-- 		<script src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/29973747799/1591020387683/_id/js/bootstrap-bundle-min.min.js"></script> -->
  <!-- Core plugin JavaScript-->
  <!-- 		<script src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/30877443656/1592431092322/_id/js/jquery-easing-min.min.js"></script> -->
  <!-- Custom scripts for all pages-->
  <script src="{{ get_asset_url('/myhub-theme/js/sb-admin-2-min.js') }}"></script>
  <!-- 		<script src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/32354634340/1594772121276/_id/myHub/js/vendor/dragula-min.min.js"></script> -->
  <!-- Page level plugins -->
  <!-- 		<script src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/29974457823/1591020658276/_id/js/chart-min.min.js"></script> -->
  <!-- Page level custom scripts -->
  <script
    src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/29974306598/1592312124577/_id/js/chart-area-demo.min.js">
  </script>
  <script
    src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/29974459027/1591502984639/_id/js/chart-pie.min.js">
  </script>
  <script
    src="https://www.iga.com/hs-fs/hub/3870075/hub_generated/template_assets/32365950335/1594934599552/_id/myHub/js/search-input.min.js">
  </script>
  <script src="{{ get_asset_url('/myhub-theme/js/_tables.js') }}"></script>
</body>

</html>