<i class="fas fa fa-th-list"></i>
<i class="fas fa fa-th"></i>
<div class="content-section pt0 no-masonry">
	<div class="w800 centered never-stack">
		<!--  -->
		  <input class="hs-input" type="text" placeholder="Search...">
			<div class="listing-menu list-type-dropdown sm-tc pt10">
				<div class="control fade-in">Search</div>
				<ul>
					<li><a href="#all" class="active">All</a></li>
					<li><a href="#communications"><i class="fas fa fa-bullhorn"></i>&nbsp;Communications</a></li>
					<li><a href="#equipment">Equipment</a></li>
					<li><a href="#food">Food</a></li>
					<li><a href="#marketing">Marketing</a></li>
					<li><a href="#operational_solutions"><i class="fas fa fa-handshake"></i>&nbsp;Operational Solutions</a></li>
					<li><a href="#retail"><i class="fas fa fa-store"></i>&nbsp;Retail</a></li>
					<li><a href="#signage"><i class="fas fa fa-sign"></i>Signage</a></li>
				</ul>
			</div>
		<!-- 	 -->
		{% for group in module.groups %}
			<div class="row-fluid-wrapper" style="">
				<h2>{{ group.header}}</h2>
				<div class="row-fluid" style="display:flex; flex-wrap:wrap;">
					{% for data in group.data %}
						<div class="content-card span4">
							{{ data.content }}
							<div class="bdt"></div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="listing-pagination-options" data-items-per-page="9"></div>

<!--  -->
<script src="https://cdn2.hubspot.net/hubfs/273774/mp/act2/js/act2.min.js"></script>