#likert {
  margin:0;
  padding:0;
}
#likert li {
  list-style: none;
  display: inline-block;
  border-radius: 14px;
  padding: 10px 20px;
  overflow:hidden;
  color:red;
}
#likert i {
  font-size: 36px;
}