.hide {
  display:none;
}
.visibility-hide {
  visibility:hidden;
}
.offer-tag {
  color: #FFFFFF!important;
  background: #ED1C24;
  display: inline-block;
  padding: 9px;
  border-radius: 4px; 
}

.flex {
  display:flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.flex-row {
   
}