.container, .grid, .flex, .grid > div, .flex > div {
	width: 100%;
}
.container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.flex > div {
  flex-shrink: 0;
  gap: 12px;
  display: flex;
  margin: 12px auto;
}

.grid > div img {
  max-width: 100%;
}

.flex > div img {
	object-fit: cover;
	flex: 1 1 auto;
}

.grid .text {
  padding: 20px;
}

.content-card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}