{# contentcard - horizontal > IMAGE right or left | vertical > IMAGE top or bottom #}
{# Templated | Override > true | false #}
{# global variables #}
{% set tableId = module.hubdbtable_field %}
{% set filterQuery = module.text_field %}
{% set grouping = module.grouping %}
{% set is_grouping = grouping ? true : false  %}
{% set view = module.display_type %}
{% set columns = module.columns %}
{% set rows = hubdb_table_rows(tableId, filterQuery) %} {# list #}
{% set groups = grouping ? rows|groupby(grouping) : rows %} {# list => grouperObject| list#}
{# function #}
{% macro unwrap(objs, props) %}
{# container; [array, {tag, innerText} #}
  {% for obj in objs %}
    {% for prop in props %}
      {{text(obj[prop])}}
    {% endfor %}
  {% endfor %}
{% endmacro %}
{# template_partials #}
{% macro img(src, class, container, container_class) %}
<div class="content-card-image">
  <img class="{{class}}" src="{{src}}">
</div>
{% endmacro %}
{% macro text(value) %}
<p>{{value}}</p>
{% endmacro %}
{# end template_partials #}
{% macro the_loop( content ) %}
{% set content = content.grouperObject[0] ? {'group':content.grouperObject[0],'list':content.list} : content %}
{{module.template}}
{% endmacro %}
{# HTML #}
<div class="container">
  <div class="{{module.layout}}">
    {% for group in groups %}
    <div class="{{view}}">
      {{ the_loop( group ) }}
    </div>
    {% endfor %}
  </div>
</div>
{# updated #}